<header class="o-wrapper c-header u-sp-top u-sp--large">
  <h1>
    <a href="/" rel="home" class="c-header__title">{{ site.name }}</a>
    <span class="c-header__description">{{ site.description }}</span>
  </h1>
</header>
